*{
    margin: 0%;
    padding: 0%;
}


img{
    max-width: 100%;
    height: auto;
}


h3{
    font-size: 150%;
    font-weight: 200%;
}


a {
    color: #524c56;
    text-decoration: none;
    font-weight: bold;
}


a:hover{
    color: orange;
}

.contenedorGeneral {
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    flex-wrap: wrap;
    
    
}


/* NAV */
.contenedorNav{
    display: flex;
    
    width: 100%;
    height: 5em;
    flex-wrap: wrap;
    /* background-color: green; */
    align-items: center;
    
}


.navLogo img{
    width: auto;
    height: 4.5em;
}


.navLogo{
    flex-direction: row;
    justify-content: flex-start;
    width: 65%;

    /* background-color: blue; */
}


.navItems{
    flex-direction: row;
    justify-content: flex-end;
    width: 10%;
    padding: 0.6em;
    text-align: center;

    /* background-color: orange; */
}


/* ICONOS */

.contenedorIconos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    /* background-color: orchid; */
    justify-content: center;
    align-items: center;
    padding: 10em;
}


.iconos{
    width: 33.33%;
    height: auto;
    /* background-color: purple; */
    align-items: space-around;
    text-align: center;
    
    
}

.iconos i{
    width: 100%;
    height: 100%;
    font-size: 450%;
}


/* FOOTBAR */

.listaEnlaces{
    width: 20%;
    padding: 4%;
    text-align: right;
    
}


.listaEnlaces li{
    list-style: none;
    font-size: 100%;
    padding: 1%;
}


.listaItems{
    width: 60%;
    padding: 4%;
    text-align: center;
    list-style: none;
}

.listaItems li{
    display: inline;
    font-size: 450%;
    padding: 4%;
}


/* PORTFOLIO */
.contenedorPortfolio{
    display: flex;

}
.columnaIzq{
    width: 60%;
    /* background-color: purple; */
}


.columnaIzq p {
    color: #524c56;
    font-size: 160%;
    line-height: 155%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify-center;
}

.columnaIzq img{
    width: 30%;
}

.columnaDer{
    float: right;
    margin: 0 auto;
    width: 32%;
    height: auto;
    padding: 1%;
}